{% extends 'base_generic.html' %}

{% block content %}
    <h3 style="color: #2699FB"><strong>Author:</strong>{{ author.first_name }}{{ author.last_name }}</h3>
    <p>{{author.date_of_birth}} - {% if author.date_of_death %} {{ author.date_of_death }} {% endif%}</p>
    <div style="margin-left:20px;margin-top:20px">
        <h4>Books</h4>
        <dl>
            <!-- when we accessing something from other model which content foreign key-->
            {% for book in author.book_set.all %}
            <dt><a href="{% url 'book-detail' book.pk %}">{{book}}</a> ({{book.bookinstance_set.all.count}})</dt>
            <dd>{{ book.summary }}</dd>
            {% endfor %}
        </dl>
    </div>
{% endblock %}